<!--<mat-grid-list cols="20" rowHeight="10:5">-->
<!--  <mat-grid-tile><img src="../assets/images/sar_flag.jpg" style="width: 4em; height: 2.2em"></mat-grid-tile>-->
<!--  <mat-grid-tile colspan="18">-->
<!--    <div style="text-align:center;width: 100vw; background-color: #336633;">-->
<!--      <h2 style="color: white">RTGS</h2>-->
<!--    </div>-->
<!--  </mat-grid-tile >-->
<!--  <mat-grid-tile style="text-align:center;width: 100vw; background-color: #336633;">-->
<!--    <h4>User role:</h4>-->
<!--  </mat-grid-tile>-->
<!--</mat-grid-list>-->



<div style="width: 100%">
  <div style="float: left;">
    <img src="../assets/images/sar_flag.jpg" style="width: 4em; height: 2.2em">
  </div>
  <div style="text-align:center;width: 100vw; background-color: #336633;">
    <h2 style="color: white">RTGS</h2>
  </div>

  <!--  <ng-container *ngFor="let language of languageList">-->
  <!--    <a href="/{{language.code}}/"><button class="button">{{language.label}}</button></a>-->
  <!--  </ng-container>-->

</div>
<div style="margin: 0 auto">
  <router-outlet></router-outlet>
</div>
