<div style="width: 100%">
  <div style="float: left;">
    <img src="../assets/images/sar_flag.jpg" style="width: 4em; height: 2.3em">
  </div>
  <div style="background-color: darkcyan;text-align:center;width: 100vw">
  <h2 i18n style="color: blanchedalmond">RTGS</h2>
</div>

<!--  <ng-container *ngFor="let language of languageList">-->
<!--    <a href="/{{language.code}}/"><button class="button">{{language.label}}</button></a>-->
<!--  </ng-container>-->

</div>
<div style="margin: 0 auto">
  <router-outlet></router-outlet>
</div>
