<div class="loading-shade" *ngIf="isReportProcessed">
  <mat-card style="width: 25%; text-align: center">

    <h3 *ngIf="isReportFormed">Report processed</h3>
    <mat-spinner [diameter]="70" style="margin: 1em auto" *ngIf="isReportFormed"></mat-spinner>
    <h3 *ngIf="reportFormedError.length > 0">{{reportFormedError}}</h3>

    <mat-card-footer style="margin-top: 2em;">
      <button mat-stroked-button style="width: 100%;" (click)="backgroundReport()" *ngIf="reportFormedError.length > 0">
        <mat-icon color="accent">close</mat-icon>Close</button>
      <button mat-stroked-button style="width: 50%;" (click)="closeReport()" [disabled]="currentReportUID === null" *ngIf="reportFormedError.length < 1">
        <mat-icon color="accent">close</mat-icon>Close</button>
      <button mat-stroked-button style="width: 50%" (click)="backgroundReport()" [disabled]="currentReportUID === null" *ngIf="reportFormedError.length < 1">
        <mat-icon color="accent">download</mat-icon>Background</button>
    </mat-card-footer>
  </mat-card>
</div>

<div style="text-align: center" *ngIf="!isReportProcessed">
  <h3>Report parameters</h3>
  <mat-grid-list [cols]="1" rowHeight="10:1" *ngFor="let prop of reportParams">
    <mat-grid-tile >
      <mat-form-field class="w-100">
        <mat-label>{{prop.cparamdescr}}</mat-label>
        <input matInput value="{{prop.cparamdefault}}" class="rep_param">
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<footer style="display: flex;justify-content: center;">
  <button  color="primary"  mat-button disableRipple (click)="submit()"> Order report </button>
  <button  mat-button mat-dialog-close disableRipple> Cancel </button>
</footer>

