<mat-card>
  <mat-card-title>
    <h2 >Create new user</h2>
  </mat-card-title>
  <form [formGroup]="profileEditForm">

    <mat-form-field class="w-100" appearance="outline">
      <mat-label >User name</mat-label>
      <input matInput formControlName="ename">
    </mat-form-field>

    <mat-form-field class="w-100" appearance="outline">
      <mat-label >User login</mat-label>
      <input matInput formControlName="login">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label >Enter your password</mat-label>
      <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field class="w-100" appearance="outline">
      <mat-label >Role</mat-label>
      <mat-select formControlName="roles" >
        <mat-option *ngFor="let role of roles" [value]="role">
          {{role}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="row">
      <button (click)="closeDialog(0)" class="w-50"
              mat-button mat-dialog-close disableRipple>
        Cancel
      </button>
      <button  color="primary" class="w-50" [disabled]="profileEditForm.invalid" (click)="submit()" mat-button disableRipple>
        Create
      </button>
    </div>
  </form>
</mat-card>
